 /* la larghezza dello schermo diventa:
    - tablet: dai 768px in giù
    - mobile: dai 480px in giù 
*/

@media screen and (max-width: 768px){
    .container{
        width: 80%;
    }
    .steps{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
.row{
    flex-wrap: wrap;
    flex-direction: column;
    gap: 100px;
}
.why-us{
    background-color: #222222;
    margin: 0;
    padding: 6rem 0;
}
.steps{
    margin: 0;
    padding: 6rem 0;
}
.why-us .col,
.steps .col,
.lessons .col{
    width: 100%;
}
}